{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Activate Netflix on your smart TV or streaming device at netflix.com/tv2. Follow our step-by-step guide to enter the activation code and start streaming your favorite shows and movies.">
    <meta name="keywords" content="netflix.com/tv2, Netflix TV activation, Netflix TV2 code, activate Netflix on TV, Netflix device setup">
    <meta name="robots" content="index, follow">
    <title>Activate Netflix on Your TV at netflix.com/tv2 – Easy Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
